@model crud.Models.Article

<!--<form>
    <button class="btn btn-primary btn-sm px-3" asp-controller="Article" asp-action="Edit" name="id" value="@Model.Id">Editar</button>-->
     @*Button trigger modal 'Details'*@
    <!--<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal_details_@{@Model.Id}">Detalles</button>-->
     @*Button trigger modal 'Delete'*@
    <!--<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal_delete_@{@Model.Id}">Eliminar</button>
</form>-->

<form>
    <div class="btn-group">
        <button class="btn btn-primary btn-sm rounded" asp-controller="Article" asp-action="Edit" name="id" value="@Model.Id" title="Editar"><span class="fa fa-pencil"></span></button>
        @*Button trigger modal 'Details'*@
        <button type="button" class="btn btn-success btn-sm mx-2 rounded" data-toggle="modal" data-target="#modal_details_@{@Model.Id}" title="Detalles"><span class="fa fa-eye"></span></button>
        @*Button trigger modal 'Delete'*@
        <button type="button" class="btn btn-danger btn-sm rounded" data-toggle="modal" data-target="#modal_delete_@{@Model.Id}" title="Eliminar"><span class="fa fa-trash"></span></button>
    </div>
</form>

<partial name="_Details" model="Model" />
<partial name="_Delete" model="Model" />