@model crud.Models.Article

<!-- Modal 'Delete' -->
<div class="modal fade" id="modal_delete_@{@Model.Id}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Borrar artículo
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Desea eliminar el artículo <strong>@Model.Name</strong>?
            </div>
            <br />
            <form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary btn-sm" asp-controller="Article" asp-action="Delete" name="id" value="@Model.Id">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>