@{ 
    bool switchIsActive = Convert.ToBoolean(ViewBag.switchIsActive);
    string themeOn = ViewBag.ThemeOn;
    string themeOff = ViewBag.ThemeOff;
}

<li class="nav-item ml-auto" id="switch">
    <a class="btn px-2 pb-2"><i class="fa fa-sun-o fa-lg"></i></a>
    <div id="switch-2" class="custom-control custom-switch">
        @{ 
            if (switchIsActive == true)
            {
                <input type="checkbox" class="custom-control-input" id="btn-switch-theme" checked>
            }
            else
            {
                <input type="checkbox" class="custom-control-input" id="btn-switch-theme">
            }
        }
        <label class="custom-control-label" for="btn-switch-theme"></label>
    </div>
    <a class="btn px-0 pb-2"><i class="fa fa-moon-o fa-lg"></i></a>
</li>