@model Article

@{
    ViewBag.Title = "Crear articulo";
}

<h3>@ViewBag.Title</h3>
<p>@ViewBag.Message</p>
<br />
<div style="width: 300px;">
    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="Name">Nombre</label>
            <input class="form-control" type="text" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label>Categoría</label>
            <select class="form-control" asp-for="CategoryId">
                @foreach (Category item in ViewBag.Categories)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Description">Descripción</label>
            <textarea typeof="text" class="form-control" asp-for="Description"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="Quantity">Cantidad</label>
            <input class="form-control" type="number" asp-for="Quantity" />
            <span class="text-danger" asp-validation-for="Quantity"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}