@{
    ViewBag.Title = "Crear articulo";
}

@using crud_mvc.Controllers;

<h3>@ViewBag.Title</h3>
<p>@ViewBag.Message</p>
<br />
<div style="width: 300px;">
    <form asp-action="Create">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" name="name"/>
        </div>
        <div class="form-group">
            <label>Categoría</label>
            <select class="form-control" name="category">
                @foreach (var item in ViewBag.Categories)
                {
                    <option>@item</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label>Descripción</label>
            <textarea typeof="text" class="form-control" name="description"></textarea>
        </div>
        <div class="form-group">
            <label>Cantidad</label>
            <input type="number" class="form-control" name="quantity"/>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
