:root {
    /*--- Data Tables Custom (dtc) variables  ---*/
    --dtc-padding-sm: 4px 8px;
    --dtc-padding-sm-2: 4px 16px;
    --dtc-margin-def: 8px;
    --dtc-margin-x-default: 8px 0px;
    --dtc-border-1: 1px solid #aaa;
    --dtc-border-radius-default: 0.2rem;
    --dtc-focus-def: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
}

.dataTables_info {
    padding: var(--dtc-padding-sm) !important;
    border: var(--dtc-border-1) !important; /* -> eliminar propiedad cuando se filtra  */
    border-radius: var(--dtc-border-radius-default) !important;
    margin: var(--dtc-margin-x-default) !important;
}


/*--- container bottom buttons 'previous|1|2|3|next' ---*/
.dataTables_paginate.paging_simple_numbers {
    /*display: none;*/
    border: var(--dtc-border-1) !important;
    border-radius: var(--dtc-border-radius-default) !important;
    padding: 0 !important;
    margin: var(--dtc-margin-x-default) !important;
}

.paginate_button,
.paginate_button.previous.disabled,
.paginate_button.current,
.paginate_button.next {
    margin: 0 !important;
    padding: var(--dtc-padding-sm-2) !important;
}

.paginate_button.previous:hover {
    background: #aaa !important;
    border: none !important;
}


.paginate_button:hover
.paginate_button.current:hover
/*.dataTables_wrapper. dataTables_paginate .paginate_button:hover*/
{
    color: #212529 !important;
    border: var(--dtc-border-1) !important;
    background: var(--dtc-focus-def) !important;
}

/*--- deshabilito botones 'anterior|siguiente' si llegue al nro max --- */
.paginate_button.next.disabled:hover,
.paginate_button.previous.disabled:hover {
    background: none !important;
}
