@model crud.Models.Category

<!-- Button trigger modal 'Delete' -->
<a class="btn btn-danger btn-sm text-white" data-toggle="modal" data-target="#modal_delete_@{@Model.Id}" id="inputTrigger">Eliminar</a>

<partial name="_Delete" model="Model" />