@model crud_mvc.Models.Category

@{
    ViewData["Title"] = "Crear categoría";
}

<h3>@ViewBag.Title</h3>
<p>@ViewBag.Message</p>
<hr />
<div class="row">
    <div class="col-md-4 col-sm-10">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Crear</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
