@model crud_mvc_aspnet_core.Models.Article

@{
    <select class="form-control form-control-sm" asp-for="CategoryId">
        @foreach (Category c in ViewBag.Categories)
        {
            if (Model != null && c.Id == Model.CategoryId)
            {
                <option value="@c.Id" selected>@c.Name</option>
            }
            else
            {
                <option value="@c.Id">@c.Name</option>
            }
        }
    </select>
}